{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}

    {% block menu %}
        {% include "components/navbar.html_ru.twig" %}
    {% endblock %}
    

        <div class="row col-12">
            <div class="col-md-6 p-0">
                <img style="" src="{{ asset('/images/nespresso-ru-g.jpg' )}}" alt="carte-nes">
            </div>

            <div class="col-md-6">
                <img style="" src="{{ asset('/images/nespresso-ru-d.jpg' )}}" alt="carte-nes">
            </div>
        </div>

{% endblock %}