{% extends 'base.html.twig' %}

{% block title %}Edit Onglet{% endblock %}

{% block body %}
    {% block menu %}
            {% include "components/navbar-admin.html.twig" %}
    {% endblock %}

    <h1 class="text-center mt-5">Éditer Onglet</h1>

    {{ include('onglet/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="d-flex justify-content-center mt-3">
        {{ include('onglet/_delete_form.html.twig') }}
    </div>
    <a class="btn btn-outline-primary" href="{{ path('onglet_index') }}">Revenir à la liste des onglets</a>
{% endblock %}
