{% extends 'base.html.twig' %}

{% block title %}Edit Onglet{% endblock %}

{% block body %}
    <h1>Edit Onglet</h1>

    {{ include('onglet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('onglet_index') }}">back to list</a>

    {{ include('onglet/_delete_form.html.twig') }}
{% endblock %}
