{% extends 'base.html.twig' %}


{% block title %}Onglet index{% endblock %}

{% block body %}

    {% block menu %}
        {% include "components/navbar-admin.html.twig" %}
    {% endblock %}

    <h1 class="mt-5 mb-4 text-center">Liste des onglets</h1>
    <div class="d-flex justify-content-center">
        <a class="btn btn-success mb-5" href="{{ path('onglet_new') }}">Ajouter un onglet</a>
    </div>
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for onglet in onglets %}
                <tr>
                    <td>{{ onglet.nom }}</td>
                    <td class="d-flex justify-content-center">
                        <a class="btn btn-outline-info mr-2" href="{{ path('onglet_edit', {'id': onglet.id}) }}">Éditer</a>
                        {{ include('onglet/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun onglet trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
