/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.titrecat {
    font-family: 'Great Vibes', cursive;
    letter-spacing: 4px;
    font-weight: normal;
    font-size: 25px;
    color: black;
}
.titrecat2 {
    font-family: 'Great Vibes', cursive;
    letter-spacing: 4px;
    font-weight: normal;
    font-size: 25px;
    color: black;
}
.suggestion {
    margin: 0 auto;
    width: 95vw;
    border: 1px solid red;
}
.sugg {
    font-size: medium;
    letter-spacing: 0mm;
    font-weight: medium;
    font-family: 'Mulish', sans-serif;
}
.starter {
    margin: 10px auto 0 auto;
    width: 95vw;
}
.starterHr {
    border-top: 3px solid red;
}
.prodid2 {
    font-size: 14px;
    letter-spacing: 0mm;
    font-weight: lighter;
    text-transform: capitalize;
}
.descid2 {
    font-size: small;
    font-family: 'Lobster', cursive;
}
.descid3 {
    font-family: 'Lobster', cursive;
    font-size: 11px;
}

/* =========================== Cartes x3 ===================== */
.next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 95vw;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.cartes {
    margin-top: 10px;
    width: 30vw;
    border-top: 3px solid red;
}
.titre {
    font-size: large;
}
.nextHr {
    width: 100%;
    border-top: 1px solid red;
}
.prodNext {
    display: block;
    font-size: 12px;
    line-height: 0;
    margin: 0!important;
    color: black;
}
.descNext {
    display: block;
    line-height: 0;
    font-family: 'Lobster', cursive;
}
.prixNext {
    display: block;
    line-height: 0;
    font-family: 'Lobster', cursive;
}

/* =========================== Onglets ===================== */
.onglet {
    width: 45vw;
    border-top: 3px solid red;
}
.ongletHr {
    border-top: 1px solid red;
    margin-top: -5px;
}

/* =========================== Menu ===================== */
.menu-titre {
    margin-top: 70px;
    text-align: center;
    font-weight: lighter;
    text-decoration: none;
    font-size: 100px;
    font-family: 'Great Vibes', cursive;
    color: black;
}
.menu{
    margin: 20px auto;
    width: 60vw;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.prod-menu {
    font-size: x-large;
    font-weight: bold;
    color: #000;
}
.prod-ent {
    color: black;
    font-size: large;
}
.ou {
    color: black;
    font-size: x-large;
}
.hr-style-menu {
    border: 0;
    border-bottom: 1px dashed #000;
    width: 30%;
}
.prix {
    font-family: 'Lobster', cursive;
}
.produit {
    font-size: 12px;
}