{% extends 'base.html.twig' %}

{% block title %}Nouveau Produit{% endblock %}

{% block body %}
    {% block menu %}
            {% include "components/navbar-admin.html.twig" %}
    {% endblock %}

    <h1 class="mt-5 text-center">Créer un nouveau Produit</h1>

    {{ include('produit/_form.html.twig') }}
    <div class="text-center">
        <a class="mt-5 btn btn-primary"href="{{ path('produit_index') }}">Revenir à la liste des produits</a>
    </div>
{% endblock %}
