{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
<div class="header">
    <div class="content-header">
        <p>Hello Word</p>
    </div>
</div>
<div class="test" style="height:100vh;"></div>
{% endblock %}
