{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    {% block menu %}
        {% include "components/navbar.html.twig" %}
    {% endblock %}

{# Suggestion & Prix menu #}
<div class="container-fluid mt-5">
    <div class="row ">
        <div class="col-6 d-flex align-items-stretch justify-content-center">
            <div class="card text-dark bg-light mb-3 w-100" style="">
                <div class="card-header">Suggestion du jour</div>
                <div class="card-body">
                    <h5 class="card-title">- 280 Moutarde Grande frite Icetea</h5>
                    <h5 class="card-title">- Pizza forestière 33cm</h5>
                    <h5 class="card-title">- Boite de 20 nuggets</h5>
                </div>
            </div>
        </div>
        <div class="col-6 d-flex align-items-stretch justify-content-center">
            <div class="card text-dark bg-light mb-3 w-100" style="">
                <div class="card-header"> Menu du Cosmo</div>
                <div class="card-body">
                    <h5 class="card-title mx-auto">Entrée + Plat OU Plat + Dessert</h5>
                    <p class="card-text mx-auto">29,90€</p>
                    <h5 class="card-title mx-auto">Entrée + Plat + Dessert</h5>
                    <p class="card-text mx-auto">36,90€</p>
                </div>
            </div>
        </div>
    </div>
</div>

{# Apéro #}
<div class="container-fluid mt-1">
    <div class="row ">
        <div class="col-6 d-flex align-items-stretch justify-content-center bd-highlight">
            <div class="card border-info bg-light mb-3 w-100" style="">
                <div class="card-header">Planche à partager</div>
                <div class="card-body">
                    <h5 class="card-title">Voir nos planches</h5>
                </div>
            </div>
        </div>
        <div class="col-6 d-flex align-items-stretch justify-content-center">
            <div class="card border-info bg-light mb-3 w-100" style="">
                <div class="card-header"> Fruits de mer</div>
                <div class="card-body">
                    <h5 class="card-title mx-auto">Voir nos fruits de mer</h5>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
