{% extends 'base.html.twig' %}

{% block body %}
    {% block menu %}
        {% include "components/navbar.html_de.twig" %}
    {% endblock %}

    <div class="mt-5 ml-3" data-masonry='{"percentPosition": true }'>
        {% for categorie in ong.ongletcategories %}
    <div class="onglet ml-3">
        <p class="titrecat2 text-center mt-2">{{categorie.nomDe}}</p>
        <hr class="ongletHr">
            {% for produit in categorie.produits %}
                <div class="d-flex justify-content-between ">
                    <p><span class="text-uppercase produit">{{produit.nomDe}}</span></p>
                    <p class="descid3">{{produit.descDe|raw }}</p>
                    <p class="prix">{{produit.prix}}</p>
                </div>
            {% endfor %}
    </div>
        {% endfor %}
    </div>
{% endblock %}