{% extends 'base.html.twig' %}

{% block body %}
    {% block menu %}
        {% include "components/navbar.html.twig" %}
    {% endblock %}

    <h3>{{categorie.nom}}</h3>

    {% for produit in produits %}
        <h1>{{produit.nom}}</h1>
        {# <h2>{{produit.prix}}</h2> #}
    {% endfor %}
{% endblock %}