{% extends 'base.html.twig' %}

{% block body %}
    {% block menu %}
        {% include "components/navbar.html.twig" %}
    {% endblock %}

    <h3>{{ testt }}</h3>

        <h1>oui
        </h1>
        {# <h2>{{produit.prix}}</h2> #}
{% endblock %}