<div class="container-fluid">
  <div class="row">
    <div class="col-5">
        <div class="col-12 logo"><img class="img-fluid mx-auto d-block" style="max-width:60%;"src="{{ asset('/images/test-kitchen.png')}}" alt="" srcset=""></div>
        <div class="col-12 legend">légende</div>
    </div>
    <div class="col-6">.Picture
        <button type="button" class="btn btn-primary">Afficher les photos<i class="fas fa-camera"></i></button>
    </div>
    <div class="col-1">Flag</div>
    <div class="col-12">Menu</div>
  </div>
</div>