<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/admin">Administration</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto align-items-center">
      <li class="nav-item">
        <a class="nav-link" href="/categorie">Catégories
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/produit">Produits</a>
      </li>      
      <li class="nav-item">
        <a class="nav-link" href="/onglet">Onglets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Aide</a>
      </li>
      <div class="">
        <a class="btn btn-secondary" href="/" target="blank" >Retour au site</a>
      </div>
  </div>
</nav>