{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    {% block menu %}
            {% include "components/navbar-admin.html.twig" %}
    {% endblock %}
    <h1 class="mt-5 text-center">Liste des catégories</h1>
    <div class="container mt-5">
        <table class="table">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th >Nom</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for categorie in categories %}
                <tr>
                    <td>{{ categorie.nom }}</td>
                    <td class="d-flex justify-content-center">
                        <a class="btn btn-outline-info mr-2" href="{{ path('categorie_edit', {'id': categorie.id}) }}">Éditer</a>
                        {{ include('categorie/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucune catégorie créée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center m-5">
            <a class="btn btn-success" href="{{ path('categorie_new') }}">Ajouter une catégorie</a>
        </div>
    </div>

{% endblock %}
