{% extends 'base.html.twig' %}

{% block title %}Nouvelle Categorie{% endblock %}

{% block body %}
    {% block menu %}
        {% include "components/navbar-admin.html.twig" %}
    {% endblock %}

    <h1 class="mt-5 text-center">Créer une noouvelle Categorie</h1>

    {{ include('categorie/_form.html.twig') }}

    <div class="text-center">
        <a class="mt-5 btn btn-primary"href="{{ path('categorie_index') }}">Revenir à la liste des catégories</a>
    </div>
{% endblock %}
